@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

footer {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -7px;

  .footer-text-container {
    h2 {
      font-size: 1.4rem;
      color: $text-main;
      font-family: map-get($font-title-bold, font-family);
      font-weight: map-get($font-title-bold, font-weight);
    }

    .router-link {
      font-size: 0.9rem;
      margin-left: 1px;
    }

    a,
    p {
      font-size: 0.9rem;
      color: $text-main;
      font-family: map-get($font-text-light, font-family);
      font-weight: map-get($font-text-light, font-weight);
    }

    p {
      margin-left: 1px;
    }
  }
}

@media screen and (min-width: 700px) {
  footer {
    padding: 32px 32px;
  }
}

@media screen and (min-width: 1482px) {
  footer {
    padding: 64px 64px;
  }
}
