@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

@import './consumerNavMobileMenu';

.animation {
  transition: all 0.2s ease-in-out;
  span:nth-child(2) {
    transform: rotate(-45deg);
  }

  button {
    gap: 0px;
  }

  span:nth-child(1) {
    transform: rotate(45deg);
  }
  span:nth-child(3) {
    transform: rotate(45deg);
    margin-left: 9px;
  }
}

nav {
  position: fixed;
  z-index: 2;

  .nav-parent-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    .nav-child-container {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;

      .nav-hamburger-icon {
        display: flex;
        flex-direction: column;

        button {
          border: none;
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding-bottom: 0;
          padding: 10px;
          padding-right: 7px;
          background: transparent;
          margin-right: -5px;

          &:hover {
            cursor: pointer;
          }
        }

        span {
          transition: all 0.2s ease-in-out;
          width: 25px;
          height: 4px;
          border-radius: 5px;
          background-color: $el-white-main;
          border: none;

          &:nth-child(1) {
            width: 45%;
          }

          &:nth-child(3) {
            width: 75%;
            margin-left: 25%;
          }
        }

        .span-nr1 {
          transition: all 0.2s ease-in-out;
          transform-origin: bottom;
          transform: rotatez(45deg) translate(2px, 1px);
        }

        .span-nr2 {
          transition: all 0.2s ease-in-out;
          transform: rotate(-45deg);
        }

        .span-nr3 {
          transition: all 0.2s ease-in-out;
          transform-origin: bottom;
          transform: rotatez(45deg) translate(-5px, -3.4px);
        }

        .animation {
          transition: all 0.2s ease-in-out;
          background-color: $el-active-blue-hover;
          span:nth-child(2) {
            transform: rotate(-45deg);
          }

          button {
            gap: 0px;
          }

          span:nth-child(1) {
            transform: rotate(45deg);
          }
          span:nth-child(3) {
            transform: rotate(45deg);
            margin-left: 9px;
          }
        }
      }
    }

    .left {
      display: flex;
      justify-content: start;

      .router-link {
        transition: all 0.2s ease-in-out;
        border: 2px solid $el-white-main;
        padding: 1px 20px;
        border-radius: 10px;

        &:hover {
          transition: all 0.2s ease-in-out;
          border: 2px solid $el-active-blue;
        }
      }

      a {
        color: $text-main;
        text-decoration: none;
        font-family: map-get($font-text-light, font-family);
        font-weight: map-get($font-text-light, font-weight);
      }
    }

    .center {
      display: flex;
      justify-content: center;
    }

    h1 {
      color: $text-main;
      font-family: map-get($font-title-black, font-family);
      font-weight: map-get($font-title-black, font-weight);
    }

    .right {
      display: flex;
      justify-content: end;
    }
  }
}

@media screen and (min-width: 700px) {
  nav {
    h1 {
      font-size: 1.7rem;
    }

    .nav-parent-container {
      padding: 16px 32px;

      .left {
        .router-link {
          font-size: 1rem;
        }
      }

      .center {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 1482px) {
  nav {
    padding: 0;

    .nav-parent-container {
      transition: all 0.3s ease-in-out;
      padding: 16px 64px;
      .nav-child-container {
        .nav-hamburger-icon {
          button {
            gap: 6px;
          }

          span {
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background-color: $el-white-main;
          }
        }
      }
    }

    .center {
      display: flex;
      gap: 32px;

      .router-link {
        display: flex;
        align-items: center;
        gap: 6px;
        transition: all 0.2s ease-in-out;

        &:hover {
          transition: all 0.2s ease-in-out;
          color: $el-active-blue;
        }
      }

      a {
        color: $text-main;
        text-decoration: none;
        font-family: map-get($font-text-light, font-family);
        font-weight: map-get($font-text-light, font-weight);
      }
    }

    .right {
      display: flex;
      gap: 30px;

      .btn-register,
      .btn-sign-in {
        transition: all 0.2s ease-in-out;
        padding: 2px 20px;
        border-radius: 10px;
        color: $text-main;
        font-family: map-get($font-text-light, font-family);
        font-weight: map-get($font-text-light, font-weight);

        &:hover {
          cursor: pointer;
        }
      }

      .btn-register {
        background: transparent;
        border: 2px solid $el-white-main;

        &:hover {
          transition: all 0.2s ease-in-out;
          border: 2px solid $el-active-blue;
        }
      }

      .btn-sign-in {
        transition: all 0.2s ease-in-out;
        color: $text-secondary;
        background-color: $el-white-main;
        border: 2px solid $el-white-main;

        &:hover {
          transition: all 0.2s ease-in-out;
          border: 2px solid $el-active-blue;
          background-color: $el-active-blue;
          color: $text-main;
        }
      }
    }
  }

  h1 {
    font-size: 2.3rem;
  }
}
