@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

nav {
    padding: 16px 16px;

    .nav-parent-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .nav-child-container {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;

            .right {
                display: flex;
                justify-content: end;
            }

            .nav-hamburger-icon {
                display: flex;
                flex-direction: column;
    
                button {
                    border: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    background: transparent;
                    padding: 0;
                    padding: 5px;
                    margin-right: -5px;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }

                span {
                    width: 25px;
                    height: 4px;
                    border-radius: 5px;
                    background-color: $el-white-main;
                }
            }
        }

        .left {
            display: flex;
            justify-content: start;
        }

        h1 {
            color: $text-main;
            font-family: map-get($font-title-black, font-family);
            font-weight: map-get($font-title-black, font-weight);
        }

        .right {
            display: flex;
            justify-content: end;
        }
    }
}