@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

main {
  overflow-x: hidden;

  .background-container {
    width: 100vw;
    background-color: $bg-main-90;
    z-index: 1;
    top: 0;
    padding: 64px 16px;

    .vertical-line {
      width: 2px;
      min-height: 100%;
      background: linear-gradient(to bottom, #0d3ef100, #a80df1);
    }

    .info-container {
      display: flex;
      flex-direction: column;
      gap: 64px;

      .step-container {
        display: flex;
        gap: 16px;

        .text-child-containers {
          display: flex;
          flex-direction: column;
          gap: 64px;
        }
      }

      h2 {
        font-size: 1.4rem;
        margin-bottom: 16px;
        color: $text-main;
        font-family: map-get($font-title-bold, font-family);
        font-weight: map-get($font-title-bold, font-weight);
      }

      ul {
        padding: 0 0 0 20px;
      }

      li {
        font-size: 0.9rem;
        color: $text-main;
        font-family: map-get($font-text-light, font-family);
        font-weight: map-get($font-text-light, font-weight);
        margin-bottom: 8px;

        span {
          font-family: map-get($font-title-bold, font-family);
          font-weight: map-get($font-title-bold, font-weight);
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        h2 {
          margin: 0;
        }

        p {
          font-size: 0.9rem;
          color: $text-main;
          font-family: map-get($font-text-light, font-family);
          font-weight: map-get($font-text-light, font-weight);
          margin-top: -5px;
        }

        .router-link {
          transition: all 0.2s ease-in-out;
          border: 2px solid $el-active-blue;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 16px;
          border-radius: 20px;
          font-size: 0.9rem;

          &:hover {
            transition: all 0.2s ease-in-out;
            background-color: $el-active-blue;
          }
        }

        a {
          color: $text-main;
          text-decoration: none;
          font-family: map-get($font-text-light, font-family);
          font-weight: map-get($font-text-light, font-weight);
        }
      }
    }
  }

  .graph-parent-container {
    padding: 16px 16px 64px 16px;

    .graph-container {
      margin-top: 24px;
      display: flex;
      align-items: baseline;
      gap: 7%;

      .graph {
        width: 100%;
        border: 2px solid transparent;
        border-radius: 8px 8px 0 0;
        background-image: linear-gradient($bg-main, $bg-main),
          linear-gradient(to bottom, #a80df1, #3b178a, #0d3ef100);
        // background-image: linear-gradient($bg-main, $bg-main),
        //   linear-gradient(to bottom, #0d3ff1, #0d3ef100);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border-radius: 8px 8px 0 0;
      }

      .graph-1 {
        height: 48px;
      }

      .graph-2 {
        height: 80px;
      }

      .graph-3 {
        height: 112px;
      }

      .graph-4 {
        height: 144px;
      }

      .graph-5 {
        height: 176px;
      }
    }
  }

  .faq-container {
    padding: 16px 16px 64px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1200px;
    margin: auto;

    h3 {
      font-size: 0.9rem;
      color: $text-main;
      font-family: map-get($font-title-bold, font-family);
      font-weight: map-get($font-title-bold, font-weight);
      margin-bottom: 8px;
    }

    p {
      font-size: 0.9rem;
      color: $text-main;
      font-family: map-get($font-text-light, font-family);
      font-weight: map-get($font-text-light, font-weight);
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: 700px) {
  main {
    .background-container {
      padding: 32px;

      .vertical-line {
        width: 1px;
      }

      .info-container {
        .step-container {
          display: flex;
          gap: 16px;

          .text-containers {
            gap: 70px;
          }
        }

        h2 {
          font-size: 1.5rem;
        }

        li {
          font-size: 1rem;
        }

        .text-container {
          p {
            font-size: 1rem;
          }

          a {
            font-size: 1rem;
          }
        }
      }
    }

    .graph-parent-container {
      padding: 32px 32px 64px 32px;
      max-width: 900px;
      margin: auto;

      .graph-container {
        gap: 8%;

        .graph {
          border-radius: 16px 16px 0 0;
        }

        .graph-1 {
          height: 80px;
        }

        .graph-2 {
          height: 144px;
        }

        .graph-3 {
          height: 208px;
        }

        .graph-4 {
          height: 272px;
        }

        .graph-5 {
          height: 336px;
        }
      }
    }

    .faq-container {
      padding: 32px 32px 64px 32px;

      .text {
        margin-right: 15px;
        width: 100%;
      }

      .interactive {
        width: 100%;
        max-width: 293px;
        margin-left: 15px;
      }

      p {
        font-size: 1rem;
      }

      input {
        width: 100%;
        font-size: 0.9rem;
      }

      button {
        font-size: 0.9rem;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  main {
    .graph-parent-container {
      .graph-container {
        gap: 9%;

        .graph {
          border-radius: 24px 24px 0 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1482px) {
  main {
    .background-container {
      padding: 64px;

      .vertical-line {
        display: none;
      }

      .info-container {
        .top-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 90px;
          }
        }

        .step-container {
          margin-top: 128px;

          .text-containers {
            width: 100%;

            .text-child-containers {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin: auto;
              gap: 100px;
              margin: auto;
              max-width: 1200px;
            }
          }
        }

        .text-container {
          width: 333px;

          p {
            font-size: 1rem;
          }

          a {
            font-size: 1rem;
          }
        }

        h2 {
          font-size: 1.5rem;
        }

        li {
          font-size: 1rem;
        }
      }
    }

    .faq-container {
      padding: 32px 64px 64px 64px;
    }
  }
}
