@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.cookie-dialog-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-main-90;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  .cookie-dialog-container {
    width: 100%;
    max-width: 510px;
    padding: 16px;
    background-color: $bg-secondary;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;

    .cookie-dialog-button-container {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

@media screen and (min-width: 450px) {
  .cookie-dialog-background {
    .cookie-dialog-container {
      .cookie-dialog-button-container {
        flex-direction: row;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .cookie-dialog-background {
    padding: 32px;

    .cookie-dialog-container {
      padding: 32px;
      gap: 32px;

      .cookie-dialog-button-container {
        margin-top: 0px;
        gap: 32px;
      }
    }
  }
}
