@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.new-request-top-nav {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}

label {
  color: $text-main;
  font-family: map-get($font-text-light, font-family);
  font-weight: map-get($font-text-light, font-weight);
}

.signed-in-contact-form-select {
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 8px 0 16px 0;
  width: 100%;
  height: 42px;
  background-color: $el-bg-gray;
  color: $text-main;
  border: 2px solid $el-border-gray;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  font-family: map-get($font-text-light, font-family);
  font-weight: map-get($font-text-light, font-weight);
  font-size: 0.9rem;

  &:focus {
    transition: all 0.2s ease-in-out;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus),
      linear-gradient(to bottom, rgb(13, 63, 241), rgb(13, 63, 241, 0.2));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-family: map-get($font-text-light, font-family);
    font-weight: map-get($font-text-light, font-weight);
    font-size: 0.9rem;
  }
}

input {
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 8px 0 16px 0;
  width: 100%;
  height: 42px;
  background-color: $el-bg-gray;
  color: $text-main;
  border: 2px solid $el-border-gray;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  font-family: map-get($font-text-light, font-family);
  font-weight: map-get($font-text-light, font-weight);
  font-size: 0.9rem;

  &:focus {
    transition: all 0.2s ease-in-out;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus),
      linear-gradient(to bottom, rgb(13, 63, 241), rgb(13, 63, 241, 0.2));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.text-editor,
.text-editor-warning {
  width: 100%;
  height: 300px;
  padding: 8px;
  margin-top: 8px;
  color: $text-main;
  border: 2px solid $el-border-gray;
  background-color: $el-bg-gray;
  border-radius: 10px;
  resize: none;
  font-size: 0.9rem;
  font-family: map-get($font-text-light, font-family);
  font-weight: map-get($font-text-light, font-weight);

  &:focus {
    transition: all 0.2s ease-in-out;
    outline: none;
    border: 2px solid transparent;
    background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus),
      linear-gradient(to bottom, rgb(13, 63, 241), rgb(13, 63, 241, 0.2));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.text-editor-warning {
  &:focus {
    background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus),
      linear-gradient(to bottom, rgb(241, 85, 13), rgb(241, 85, 13, 0.2));
  }
}

.user-home-send-btn {
  transition: all 0.2s ease-in-out;
  background-color: $el-active-blue;
  border: none;
  color: $text-main;
  font-family: map-get($font-title-bold, font-family);
  font-weight: map-get($font-title-bold, font-weight);
  font-size: 0.9rem;
  height: 42px;
  border-radius: 50px;
  margin: 32px 0;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:hover {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: $el-active-blue-hover;
  }
}

.user-home-send-btn-disabled {
  transition: all 0.2s ease-in-out;
  background-color: $el-inactive-blue;
  border: none;
  color: $text-disabled;
  font-family: map-get($font-title-bold, font-family);
  font-weight: map-get($font-title-bold, font-weight);
  font-size: 0.9rem;
  height: 42px;
  border-radius: 50px;
  margin: 32px 0;
  width: 100%;
}

.spinner-component {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: $bg-main-90;
}

@media screen and (min-width: 640px) {
  .new-request-parent-container {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 0;

    .new-request-surrounding-container {
      width: 100%;
    }

    .new-request-top-nav {
      display: flex;
      gap: 16px;
      align-items: center;
      width: 100%;
      max-width: 1300px;
      margin: auto;
      margin-bottom: 32px;
    }

    form {
      width: 100%;
      max-width: 1300px;
      display: flex;
      gap: 32px;
      justify-content: center;
      margin: auto;

      .right-side-contact-form {
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: column;
      }

      .left-side-contact-form {
        width: 100%;
        order: 1;
      }

      .signed-in-contact-form-select {
        margin: 8px 0 16px 0;
        width: 100%;
        height: 45px;
        padding: 8px;
        font-size: 1rem;

        &:focus {
          font-size: 1rem;
        }
      }

      input {
        margin: 8px 0 16px 0;
        width: 100%;
        height: 45px;
        font-size: 1rem;

        &:focus {
          font-size: 1rem;
        }
      }

      .text-editor,
      .text-editor-warning {
        width: 100%;
        height: 300px;
        font-size: 1rem;
        margin-bottom: 16px;
      }

      .user-home-send-btn {
        font-size: 1rem;
        height: 45px;
        margin: 7px 0;
        width: 100%;
        margin-bottom: calc(64px - 16px);

        &:hover {
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          background-color: $el-active-blue-hover;
        }
      }

      .user-home-send-btn-disabled {
        font-size: 1rem;
        height: 45px;
        margin: 7px 0;
        width: 100%;
        margin-bottom: calc(64px - 16px);
      }
    }
  }
}
