@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.side-nav-parent-container {
  height: calc(100vh - 32px);
  background-color: $el-bg-gray;
  border: 1px solid $el-border-gray;
  position: fixed;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  border-radius: 15px;

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 32px;
    align-items: start;
    height: 100%;

    li {
      list-style: none;
    }
  }

  .sign-out-btn-container {
    height: 100%;
    display: flex;
    align-items: end;

    .user-home-sign-out-btn {
      background: transparent;
      transition: all 0.2s ease-in-out;
      padding: 4px 16px;
      border-radius: 22px;
      background: transparent;
      border: 2px solid $el-white-main;
      text-align: center;

      &:hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 2px solid $el-active-blue;
      }
    }
  }

  .side-nav-router-link {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: $text-main;
    font-family: map-get($font-text-light, font-family);
    font-weight: map-get($font-text-light, font-weight);
    font-size: 0.9rem;
    text-decoration: none;

    &:hover {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      color: $el-active-blue;
    }
  }

  .active-url {
    color: $el-active-blue;
  }
}
