@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.sign-in-desktop-dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bg-main-90;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign-in-desktop-dialog-container {
        min-width: 1200px;
        max-width: 1200px;
        background-color: $bg-main;
        padding: 64px;

        .sign-in-desktop-form-nav {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0;
            margin-bottom: 32px;

            .sign-in-form-back-link {
                transition: all 0.2s ease-in-out;
                background: transparent;
                color: $text-main;
                width: 50px;
                height: 50px;
                border-radius: 12px;
                border: 2px solid $el-border-gray;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;

                &:hover {
                    transition: all 0.2s ease-in-out;
                    border: 2px solid $el-active-blue;
                    color: $el-active-blue;
                    cursor: pointer;
                }
            }

            h2 {
                font-size: 2.5rem;
                color: $text-main;
                font-family: map-get($font-title-black, font-family);
                font-weight: map-get($font-title-black, font-weight);
            }
        }
        
        .sign-in-desktop-form {
            display: flex;
            flex-direction: column;
            gap: 32px;
            background-color: $bg-main;
            max-width: 1200px;
            margin-bottom: 32px;

            .sign-in-desktop-form-top-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 64px;

                .sign-in-dialog-input-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
    
                    label {
                        color: $text-main;
                        font-family: map-get($font-text-light, font-family);
                        font-weight: map-get($font-text-light, font-weight);
                    }
            
                    input {
                        position: relative;
                        transition: all 0.2s ease-in-out;
                        margin-top: 5px;
                        max-width: 100%;
                        height: 42px;
                        background-color: $el-bg-gray;
                        color: $text-main;
                        border: 2px solid $el-border-gray;
                        padding: 10px;
                        border-radius: 10px;
                        z-index: 1;
                
                        &:focus {
                            transition: all 0.2s ease-in-out;
                            outline: none;
                            border: 2px solid transparent;
                            border-radius: 10px;
                            background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus), 
                            linear-gradient(
                                to bottom,
                                rgb(13, 63, 241),
                                rgb(13, 63, 241, 0.2)
                                );
                            background-origin: border-box;
                            background-clip: padding-box, border-box;
                        }
                    }
            
                    .input-error {
                        transition: all 0.2s ease-in-out;
                        outline: none;
                        border: 2px solid transparent;
                        border-radius: 10px;
                        background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus), 
                        linear-gradient(
                            to bottom,
                            rgb(241, 13, 13),
                            rgb(241, 13, 13, 0.2)
                            );
                        background-origin: border-box;
                        background-clip: padding-box, border-box;
                
                        &:focus {
                            background-image: linear-gradient($el-border-gray-focus, $el-border-gray-focus), 
                            linear-gradient(
                                to bottom,
                                rgb(241, 13, 13),
                                rgb(241, 13, 13, 0.2)
                                );
                        }
                    }
    
                    p {
                        color: $el-error-red;
                        margin-bottom: 20px;
                        margin-top: -10px;
                    }
                }
            }

            .sign-in-desktop-form-bottom-container {
                max-width: 1200px;
                display: row;
                flex-direction: column;

                .sign-in-desktop-btn {
                    transition: all 0.2s ease-in-out;
                    background-color: $el-active-blue;
                    border: none;
                    color: $text-main;
                    font-family: map-get($font-title-bold, font-family);
                    font-weight: map-get($font-title-bold, font-weight);
                    width: 100%;
                    height: 42px;
                    border-radius: 50px;
            
                    &:hover {
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                        background-color: $el-active-blue-hover;
                    }
                }
            }
        }
    }
}