@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.user-settings-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $bg-main-90;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 56px 16px;

  .user-settings-container {
    padding: 16px;
    background-color: $el-bg-gray;
    border: 2px solid $el-border-gray;
    border-radius: 8px;
    width: 100%;

    ul {
      padding: 0;

      li {
        list-style: none;

        .user-home-sign-out-btn {
          background: transparent;
          transition: all 0.2s ease-in-out;
          padding: 2px 16px;
          border-radius: 20px;
          background: transparent;
          border: none;
          text-align: center;

          &:hover {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            color: $el-active-blue;
          }
        }
      }
    }
  }
}
