@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.user-settings-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $bg-main-90;
  z-index: 2;
  padding: 56px 16px;

  .user-settings-parent-container {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: right;

    .user-settings-container {
      padding: 16px;
      background-color: $el-bg-gray;
      border: 2px solid $el-border-gray;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }
  }
}

@media screen and (min-width: 640px) {
  .user-settings-background {
    padding: 72px 0;

    .user-settings-parent-container {
      padding: 0 32px;
    }
  }
}
