$text-main: #D9D9D9;
$text-secondary: #090909;
$text-third: #3E3E3E;

$el-white-main: #D9D9D9;
$el-active-blue: #0D3FF1;
$el-active-blue-hover: #120DF1;
$el-inactive-blue: #4C70F0;
$el-inactive-gray: #3E3E3E;
$el-border-gray: #232323;
$el-border-gray-focus: #161616;
$el-bg-gray: #171717;

$gr-light-blue: #0D3FF1;
$gr-dark-blue: #0D31F1;

$bg-main: #090909;
$bg-main-90: #090909de;
$bg-secondary: #232323;