$text-main: #d9d9d9;
$text-secondary: #090909;
$text-third: #a5a5a5;
$text-disabled: #9e9e9e;
$text-error-red: #ec1414;

$el-white-main: #d9d9d9;
$el-active-blue: #0d3ff1;
$el-active-blue-hover: #120df1;
$el-error-red: #ec1414;
$el-warning-orange: #f1550d;
$el-inactive-blue: #414142;
$el-inactive-gray: #3e3e3e;
$el-border-gray: #232323;
$el-border-gray-focus: #161616;
$el-bg-gray: #171717;

$gr-light-blue: #0d3ff1;
$gr-dark-blue: #0d31f1;

$bg-main: #090909;
$bg-main-90: #090909de;
$bg-main-40: #0909096c;
$bg-secondary: #232323;
$bg-third: #181818;
